version: '3.8'

services:
  web:
    build: ./project
    command: uvicorn app.main:app --reload --workers 1 --host 0.0.0.0 --port 8000 --log-level=debug
    volumes:
      - ./project:/usr/src/app
    ports:
      - 8004:8000
    env_file:
      - ./.env
    environment:
      - DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/foo
      - DB_ECHO=False # Para evitar muchos logs en consola y reducir el tiempo
    depends_on:
      - db

  db:
    image: postgres:15.3
    expose:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=foo

  pgadmin:
    image: dpage/pgadmin4:7
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 8080:80
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - db

  tests:
    build: ./project
    command: ["/bin/sh", "-c", "sh /usr/src/app/tests/entrypoint.sh"]
    volumes:
      - ./project:/usr/src/app
      - ./project/tests:/usr/src/app/tests
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - db

volumes:
  pgadmin-data:
    driver: local
